<link rel="stylesheet" href="/css/choiceStyle.css">
<div class="containerPage">
      <div class="choiceContainer">
            <div class="card" style="width: 28rem;">
                <img class="card-img-top" src="/css/img/Illustrations-by-CanvaTemplates-13-1024x576.png" alt="Card image cap">
                <div class="card-body">
                  <a asp-controller ="Translator" asp-action="Translating" class="btn btn-secondary">Tərcümə et</a>
                  <a asp-controller="Home" asp-action="Admin" class="btn btn-success">Əlavə et</a>
                </div>
            </div>
      </div>
</div>
