* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerPage {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#B4B4B3, transparent), linear-gradient(to top left, #939392, transparent), linear-gradient(to top right, #ffff, transparent);
    background-blend-mode: screen;
}
.containerLogin {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #838484 url('../css/img/load.gif') no-repeat center;
    z-index: 9999;
    background-size: 4rem 4rem;
}
form {
    background: none;
    border: solid 1px #6495ED 2%;
}